<div class="row">
    {{#each tasks}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h1>{{title}}</h1>
                <hr>
                <h5>{{description}}</h5>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a href="/tasks/edit/{{_id}}" class="btn btn-secondary">
                    Editar
                </a>
                <a href="/tasks/delete/{{_id}}" class="btn btn-danger">
                    Deletar
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
