<div class="jumbotron">
    <h1 class="display-4">Typescript - App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nostrum aspernatur perferendis itaque iste sed! Tempore quo iure qui omnis.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam temporibus magnam, totam laudantium fugit dolore?</p>
    <a href="#" class="btn btn-primary btn-lg">
        Tarefas - App
    </a>
</div>